a {
  margin-right: 12px;
  margin-left: 12px;
  padding-left: 0;
  padding-right: 0;
}

a:hover {
  background-color: rgb(36, 255, 167);
  cursor: pointer;
  border-radius: 2px;
  box-sizing: border-box;
}
